@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BCIT BANK OF CANADA</h1>
</div>
<div class="bankInfo">
    <p>
        Its our goal to help you prosper. So, we treat you and your money the way we all want to be treated.
        Start with us today simply by registering!
    </p>
    <p> 
        How do we see it?WIth simple ways to spend, save, and manage your money.At BBA its your bank the right way!
    </p>
</div>
